{% extends "main.html" %}

{% block script_include %}

<link type="text/css" href="{{ static_url("css/menu.css") }}" rel="stylesheet" />
<script language="javascript" type="text/javascript" src="{{ static_url("js/menu/jquery.js") }}"></script>
<script language="javascript" type="text/javascript" src="{{ static_url("js/menu/menu.js") }}"></script>

<script language="javascript" type="text/javascript" src="{{ static_url("js/jquery.js") }}"></script>

{% end %}

{% block body %}

<style type="text/css">
* { margin:0;
    padding:0;
}
body { background:url(static/css/images/back.jpg); }
#menu {
    top:20px;
    width:80%;
}
#copyright {
    font:12px 'Trebuchet MS';
    color:#bbb;
}
#copyright a { color:#bbb; }
#copyright a:hover { color:#fff; }
</style>

<div id="menu">
    <ul class="menu">
        <li><a href="#" class="parent"><span>Project UIs</span></a>
            <div>
            	<ul>
                	<li><a href="/analysis" target="iframe1"><span>ECG</span></a></li>
                	<li><a href="/plot" target="iframe1"><span>SIDs</span></a></li>
            	</ul>
            </div>
        </li>
        <li><a href="#"><span>About</span></a></li>
        
    </ul>
</div>

<br><br><br>
<div>
</div>

<div id="copyright" style="visibility:hidden">Use the menu style for demo purpose only for projects in CECS lab, under the copyright of <a href="http://apycom.com/">Apycom jQuery Menus</a></div>


{% end %}
