{% extends "main.html" %}

{% block header %}
	<h1>{{ header_text }}</h1>
{% end %}



{% block script_include %}
<script language="javascript" type="text/javascript" src="{{ static_url("js/mediaelementplayer.css") }}"></script>
<link rel="stylesheet" href="{{ static_url("css/mediaelementplayer.css") }}" />

<body>
<script>
$('audio,video').mediaelementplayer();
</script>
{% end %}

{% block body %}
<div>
Audio 1:<br>
<audio src="{{ static_url("test.wav") }}" controls="controls" />
</div>
{% end %}

{% block footer %}
	{{ footer_text }}
{% end %}
</body>



