
* { margin:0;
	padding:0;
}

body{
	position: relative;
	/*width: 100%;*/
	min-width:850px;

	background-color: #BCBCBC;
	<!--background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));-->

}

p {
	position: relative;
	margin:0px 10px 10px 10px;
}

label, input {
display: block;
}

input.text {
margin-bottom: 12px;
width: 95%;
padding: .4em;
}

.container {
    width: 420px;
    height: 500px;
    /*align: center;*/
    float: left;
    -webkit-border-radius: 25px;
    border: solid 1px #333;
	margin:0px 0px 0px 0px;border:0px;border:0px solid #a1a1a1;
	padding:0px 0px; 
	background:#dddddd;
	border-radius:25px;
	-moz-border-radius:25px; /* Firefox 3.6 and earlier */
	margin-left:5px;
	margin-right:auto;
}

.canvas {
    width: 850px;
    /*height: 500px;*/
    /*align: center;*/
    float: left;
    -webkit-border-radius: 25px;
    border: solid 1px #333;
	margin:0px 0px 0px 0px;border:0px;border:0px solid #a1a1a1;
	padding:0px 0px; 
	background:#dddddd;
	border-radius:25px;
	-moz-border-radius:25px; /* Firefox 3.6 and earlier */
	margin-left:5px;
	margin-right:auto;
}

.chart {
    /*width: 400px;*/
    /*height: 250px;*/
	display: block;
	margin:auto;
}

.simulation {
	/*width: 400px;*/
	height: 220px;
	display: block;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;

}

#charts{
	min-height: 500px;
}

#cardReader, #firmware, #reboot, #wipeout, #setRTC {
margin:20px 0px 20px 0px;border:2px;border:2px solid #a1a1a1;
padding:10px 40px; 
background:#dddddd;
width:300px;
border-radius:25px;
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
}


.file-wrapper {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.file-wrapper input {
  cursor: pointer;
  height: 100%;
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
  position: absolute;
  right: 0;
  top: 0;
}

/*Smartphone*/
@media only screen and (max-width : 1000px) {
	body {
		height: 100%;
		min-height: 1000px;
		width: 100%;
	}

}
