{% extends "../main.html" %}

{% block header %}
	<!-- <h1>{{ header_text }}</h1> -->
{% end %}

{% block body %}
<div id="name" style="display: inline; float: right; font-size: small">{% if nodeName==None %}Demo{% else %}{{ nodeName }} {% end %}</div>
<div style="font-size: small; float: right">Node Name: </div>
<br>
<div id="serverAddr" style="display:none">{{ serverAddr }}</div>
<div id="soundServerAddr" style="display:none">{{ soundServerAddr }}</div>


<!-- <div class="ui-layout-north">Outer North</div> -->



<div class="ui-layout-center">Alert</div>



<!-- <div class="ui-layout-south">Outer South</div> -->



<!-- <div class="ui-layout-east">Outer East</div> -->



<div class="ui-layout-west">



	<!-- <div class="ui-layout-north">Middle North</div> -->
	<div class="ui-layout-center">

		<div id='acceleration' class="ui-layout-west"><!-- Orientation --></div>

		<!-- <div class="ui-layout-east">Inner East</div> -->

		<div id='sound' class="ui-layout-center"><!-- Sound -->	
			
		</div>



	</div>
	
	<div class="ui-layout-south">
    
		<div id='temperature' class="ui-layout-west">Temperature</div>

		<!-- <div class="ui-layout-east">Inner East</div> -->

		<div id='humidity' class="ui-layout-center">Humidity</div>
    
    </div>





</div>


{% end %}

{% block footer %}
	{{ footer_text }}
{% end %}

{% block script_include %}
<link type="text/css" rel="stylesheet" href="{{static_url("lib/jquery-layout/layout-default-latest.css") }}">

<link type="text/css" href="{{ static_url("lib/jquery-ui/css/smoothness/jquery-ui-1.10.0.custom.css") }}" rel="stylesheet" />
<script language="javascript" type="text/javascript" src="{{ static_url("lib/jquery-1.8.2.js") }}"></script>
<script language="javascript" type="text/javascript" src="{{ static_url("lib/jquery-ui/js/jquery-ui-1.10.0.custom.min.js") }}"></script>

<script language="javascript" type="text/javascript" src="{{ static_url("lib/jquery-layout/jquery.layout-latest.js") }}"></script>

<!-- library for drawing the 3-D simulation -->
<script language="javascript" type="text/javascript" src="{{ static_url("lib/three/three.min.js") }}"></script>
<script language="javascript" type="text/javascript" src="{{ static_url("lib/three/Stats.js") }}"></script>
<script src="{{ static_url("lib/three/helvetiker_regular.typeface.js") }}"></script>

<!-- library for drawing the chart -->
<script language="javascript" type="text/javascript" src="{{ static_url("lib/highcharts/highcharts.js") }}"></script>
<script language="javascript" type="text/javascript" src="{{ static_url("lib/highcharts/highcharts-more.js") }}"></script>
<script language="javascript" type="text/javascript" src="{{ static_url("lib/highcharts/modules/exporting.js") }}"></script>

<!-- library for generating audio player -->
<link rel="stylesheet" href="{{ static_url("lib/mediaelementplayer/mediaelementplayer.css") }}" />
<script language="javascript" type="text/javascript" src="{{ static_url("lib/mediaelementplayer/mediaelement-and-player.js") }}"></script>

<script language="javascript" type="text/javascript" src="{{ static_url("lib/spin.min.js") }}"></script>

<script language="javascript" type="text/javascript" src="{{ static_url("js/live_sids_all.js") }}"></script>

<script type="text/javascript">

$(document).ready(function () {
	
});
</script>

{% end %}

