{% extends "../main.html" %}

{% block header %}
	<h1>{{ header_text }}</h1>
{% end %}

{% block body %}
<input type="text" id="serverAddr" style="display:none" value="{{ serverAddr }}">
<!-- <div id="container1" class="container" align="center"><br> 
 <input type="radio" name="group1" value="SIDs node #1" checked> ACC Sensor #1<br> 
</div>-->

{% end %}

{% block footer %}
	<!--{{ footer_text }}-->
{% end %}

{% block script_include %}
 <style type="text/css" media="screen">
     .container {
        width: 500px;
        height: 400px;
        align: center;
        -webkit-border-radius: 25px;
        border: solid 1px #333;
		margin:0px 0px 0px 0px;border:2px;border:2px solid #a1a1a1;
		padding:0px 0px; 
		background:#dddddd;
		border-radius:25px;
		-moz-border-radius:25px; /* Firefox 3.6 and earlier */
		margin-left:auto;
		margin-right:auto;
     }
	.chart {
        width: 400px;
        height: 400px;
        align: center;
		margin-left:auto;
		margin-right:auto;
     }
 </style>

<!-- library for drawing the 3-D simulation -->
<script language="javascript" type="text/javascript" src="{{ static_url("lib/jquery-1.8.2.js") }}"></script>
<script language="javascript" type="text/javascript" src="{{ static_url("lib/three/three.min.js") }}"></script>
<script language="javascript" type="text/javascript" src="{{ static_url("lib/three/Stats.js") }}"></script>
<script src="{{ static_url("lib/three/helvetiker_regular.typeface.js") }}"></script>

<!-- library for drawing the chart -->
<script language="javascript" type="text/javascript" src="{{ static_url("lib/highcharts/highcharts.js") }}"></script>
<script language="javascript" type="text/javascript" src="{{ static_url("lib/highcharts/highcharts-more.js") }}"></script>
<script language="javascript" type="text/javascript" src="{{ static_url("lib/highcharts/modules/exporting.js") }}"></script>
<script language="javascript" type="text/javascript" src="{{ static_url("lib/spin.min.js") }}"></script>

<!-- main script -->
<script language="javascript" type="text/javascript" src="{{ static_url("js/orientation.js") }}"></script>

{% end %}


