<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<title>{{ page_title }}</title>
		<link type="text/css" href="{{ static_url("css/index.css") }}" rel="stylesheet" media="screen"/>
		<script language="javascript" type="text/javascript" src="{{ static_url("lib/jquery-1.8.2.js") }}"></script>

<script>
function show(item){
	$('#iframe1').show();
	$('#content').hide();
	if(item=='orientation'){
		$('#iframe1').removeAttr('srcdoc');
		$('#iframe1').attr('src', "orientation");
	}
	else if(item=='analysis'){
		$('#iframe1').removeAttr('srcdoc');
		$('#iframe1').attr('src', "analysis");
	}
	else if(item=='plot'){
		$('#iframe1').removeAttr('srcdoc');
		$('#iframe1').attr('src', "plot");
	}	
	else if(item=='temperature'){
		$('#iframe1').removeAttr('srcdoc');
		$('#iframe1').attr('src', "temperature");
	}
	else if(item=='tempAnalysis'){
		$('#iframe1').removeAttr('srcdoc');
		$('#iframe1').attr('src', "tempAnalysis");
	}
	else if(item=='cardReader'){
		$('#iframe1').removeAttr('srcdoc');
		$('#iframe1').attr('src', "cardReader");
	}
	else if(item=='analysis_allInOne'){
		$('#iframe1').removeAttr('srcdoc');
		$('#iframe1').attr('src', "analysis_allInOne");
	}
	else if(item=='soundMonitor'){
		$('#iframe1').removeAttr('srcdoc');
		$('#iframe1').attr('src', "soundMonitor");
	}
	else if(item=='administration'){
		$('#iframe1').removeAttr('srcdoc');
		$('#iframe1').attr('src', "administration");
	}
	else if(item=='liveECG'){
		$('#iframe1').removeAttr('srcdoc');
		$('#iframe1').attr('src', "liveECG");
	}
	else if(item=='sdCard'){
		$('#iframe1').removeAttr('srcdoc');
		$('#iframe1').attr('src', "sdCard");
	}
	return false;
}
</script>
</head>

<body>
<div class="mainContainer">
	<div class="navbox">
		<ul class="nav">
			<li><a href="#" onclick="return show('analysis_allInOne');">DICOM ECG VIEWER</a></li>
			<!-- <li><a href="analysis_allInOne" target="_blank">DICOM ECG VIEWER</a></li>  -->
			<li><a href="#" onclick="return show('analysis');">DATA ANALYSIS</a></li>
			<li><a href="#" onclick="return show('administration');">ECG RECORDING</a></li>
			<li><a href="#" onclick="return show('sdCard');">SDCARD READING</a></li>
			<!-- 
			<li><a href="#" onclick="return show('analysis_allInOne');">DICOM ECG VIEWER</a></li>
			<li><a href="#" onclick="return show('analysis');">DATA ANALYSIS</a></li>
			
			<li><a href="#" onclick="return show('liveECG');">Live ECG Viewer (Primitive)</a></li>
			<li><a href="#" onclick="return show('plot');">Live ECG Viewer (Primitive)</a></li>			
			<li><a href="#" onclick="return show('orientation');">Live Orientation Viewer</a></li>
			<li><a href="#" onclick="return show('temperature');">Live Temperature Viewer</a></li>
			<li><a href="#" onclick="return show('soundMonitor');">Sound Viewer</a></li>
			<li><a href="#" onclick="return show('tempAnalysis');">Historical Temperature Viewer</a></li>
			<li><a href="#" onclick="return show('cardReader');">Node configuration (local)</a></li>		
			<li><a href="#" >Node configuration (remote TBD)</a></li>
			 
			<li><a href="/logout">LOGOUT</a></li>-->
			<li><a href="/">HOME</a></li>
			
		</ul>
	</div>
	<iframe name="iframe1" id="iframe1" srcdoc="
	<h1>{{ header_text }}</h1><p>Welcome. Please choose operation on the left</p>"
	 seamless="seamless" frameborder="no" scrolling="auto">
	 </iframe>
	 <div id="content" />
</div>
</body>
</html>
