
* { margin:0;
	padding:0;
}

html {height: 100%;}

body{
	//position: relative;
	/*width: 100%;*/
	min-width:1000px;
	height: 100%;
	/*min-height: 768px;*/	
	background-color: #BCBCBC;
	<!--background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));-->

}

.mainContainer{
	height: 100%;
}

nav {
	position: relative;
	float: left;
	width:150px;
	min-width:150px;
}

ul.nav {
	list-style: none;
	display: block;
	width: 150px;
	position: relative;
	top: 0px;
	left: 5px;
	padding: 60px 0 60px 0;
	background: url('images/shad.png') no-repeat;
	-webkit-background-size: 50% 100%;
}

li {
	margin: 5px 0 0 0;
}

ul.nav li a {
	-webkit-transition: all 0.3s ease-out;
	background: #cbcbcb url('images/border.png') no-repeat;
	color: #174867;
	padding: 7px 15px 7px 15px;
	-webkit-border-top-right-radius: 10px;
 	-webkit-border-bottom-right-radius: 10px;
	width: 100px;
	display: block;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 4px #888;
}

ul.nav li a:hover {
	background: #ebebeb url('images/border.png') no-repeat;
	color: #67a5cd;
	padding: 7px 15px 7px 30px;
}

iframe {
	width: 85%;
	height: 100%;
	float: right;
	margin: 0px 0px 0px 0px;

}

p {
	position: relative;
	margin:0px 10px 10px 10px;
}

/*Smartphone*/
@media only screen and (max-width : 768px) {
	body{
		min-width: 768px;
	}

	nav {
		width: 100%;
	}
	ul.nav {
		top: 0px;
		display: inline-block;
		padding: 0px 0px 0px 0px;
		width: 480px;
		/*background: url('images/shad2.png') no-repeat;*/
		/*-webkit-background-size:100% 100%;*/
		background: none;
		
	}
	ul.nav li {
		float: left;
		margin: 0px 0px 15px 1px;
	}
	ul.nav li a {
	  	display: table-cell; 
  		vertical-align: middle;  	 	
		overflow: hidden;	
		text-align: center;	
		width: 80px;
		height: 60px;	
		padding: 7px 5px 7px 5px;
		-webkit-border-top-right-radius: 0px;
 		-webkit-border-bottom-left-radius: 30px;
 		-webkit-border-bottom-right-radius: 30px;
 		background: #cbcbcb url('images/border2.png') no-repeat;
 		-webkit-background-size: 100% 100%;
	}

	ul.nav li a:hover {
		overflow: hidden;
		padding: 17px 5px 7px 5px;
		background: #ebebeb url('images/border2.png') no-repeat;
		-webkit-background-size: 100% 100%;
	}
	iframe {
		width: 100%;
	}
	.container {
		width: 768px;
	}
	
}



