{% extends "../main.html" %}

{% block header %}
	<!-- <h1>{{ header_text }}</h1> -->
{% end %}

{% block body %}
Node Name: <div id="name" style="display: inline">{% if nodeName==None %}Demo{% else %}{{ nodeName }} {% end %}</div>
<br>
<div id="serverAddr" style="display:none">{{ serverAddr }}</div>


<div id="dataContainer" class="ui-widget">
  <table id="data" class="ui-widget ui-widget-content">
    <thead>
      <tr class="ui-widget-header ">
        <th>Time</th>
        <th>LED 1 Signal 1</th>
        <th>LED 1 Signal 2</th>        
        <th>LED 2 Signal 1</th>        
        <th>LED 2 Signal 2</th>        
        <th>Ambient 1</th>       
        <th>Ambient 2</th>    
        <th>RH</th>       
        <th>T</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <!-- 
        <td>John Doe</td>
        <td>john.doe@example.com</td>
        <td>johndoe1</td>
       -->
      </tr>
    </tbody>
  </table>
</div>


{% end %}

{% block footer %}
	{{ footer_text }}
{% end %}

{% block script_include %}

<link type="text/css" href="{{ static_url("lib/jquery-ui/css/smoothness/jquery-ui-1.10.0.custom.css") }}" rel="stylesheet" />
<script language="javascript" type="text/javascript" src="{{ static_url("lib/jquery-1.8.2.js") }}"></script>
<script language="javascript" type="text/javascript" src="{{ static_url("lib/jquery-ui/js/jquery-ui-1.10.0.custom.min.js") }}"></script>

<script language="javascript" type="text/javascript" src="{{ static_url("lib/jquery.iframe-transport.js") }}"></script>
<script language="javascript" type="text/javascript" src="{{ static_url("lib/jquery-fileupload/jquery.fileupload.js") }}"></script>

<script language="javascript" type="text/javascript" src="{{ static_url("lib/spin.min.js") }}"></script>

<script language="javascript" type="text/javascript" src="{{ static_url("js/live_sids.js") }}"></script>

 <style>
 body{
 	padding: 10px 10px 10px 10px;
 }

div#dataContainer { font-size: small; width: 350px; margin: 20px 0; }
div#dataContainer table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#dataContainer table td, div#dataContainer table th { border: 1px solid #eee; padding: .6em 10px; text-align: middle; }
 </style>
{% end %}

